// Declare overrideable variables
cloak-i18n-locale-selector-radius ?= var(--cloak-i18n-locale-selector-radius, 0.5em)
cloak-i18n-locale-selector-toggle-height ?= var(--cloak-i18n-locale-selector-toggle-height, 2em)
cloak-i18n-locale-selector-padding-h ?= var(--cloak-i18n-locale-selector-padding-h, 0.75em)
cloak-i18n-locale-selector-options-padding-v ?= var(--cloak-i18n-locale-selector-options-padding-v, 0.5em)
